In [ ]:
'''Q.1
Expressions :
    1. *
    2. -
    3. /
    4. +
Values :
    1. 'hello'
    2. -87.8
    3. 6 '''

In [ ]:
'''Q.2
String :-
    A string is a sequence of characters
        Example :- "Hello"
Variable :-
    A variable which has no data type and which is use to hold value
        Example :- variable can hold a string value ,
                    x = "Hello"
                    x is holding Hello
'''

In [ ]:
'''Q.3
Three different data types:-
    1.Numeric:-
        data which has numeric values , these values are integer , float ,complex
    2.boolean:-
        which returns true or false 
    3.sequence type :-
        which holds order of collection , different types of collections are :- String , list , tuple

'''

In [ ]:
'''Q.4
Expressions :- Expression is a combination of operators and operands , they are interpreted to produce another value
    Examples:-
        1. Constant Expressions:-
            x = 1 + 1.5 = 2.5
        2. Arithmetic Expressions:-
            x = 6 , y = 5
            add = x + y 
'''

In [ ]:
'''Q.5
    Expressions :- Expression is a combination of operators and operands , they are interpreted to produce another value
        Example :- x = 1 + 2 = 3
    Statement :- order/command given to a computer is a statement
        Example :-  [ break ] 
                    a = 1
                    while a < 4:
                        print(a)
                        if a == 3:
                            break
                        a = a + 1
'''

In [4]:
'''Q.6
    bacon = 22
    bacon + 1 
    ANS :- 23
'''

23

In [ ]:
'''Q.7
    1."spam" + "spamspam" = 'spamspamspam'
    2."spam" *3 = 'spamspamspam'
'''

In [ ]:
'''Q.8
   * varaible must begin with character but they can't be number
   Therfore,
       eggs a valid variable name while 100 is invalid.
'''

In [ ]:
'''Q.9
    Three functions are:-
    1. int()
    2. float()
    3. str()
'''

In [10]:
'''Q.10
    a = I have eaten '+ 99 +' burritos.'
    Error :- You can't concatinate string and integer
    Solution :- Convert integer to string 
    a = 'I have eaten '+ '99' +' burritos.'
'''
a = 'I have eaten '+ '99' +' burritos.'
print(a)

'I have eaten 99 burritos.'