In [ ]:
'''Q.1
[] = it is an empty list which contains no itmes.
'''

In [ ]:
'''Q.2
spam = [2,4,6,8,10]
hello = spam[2] 
'''

In [ ]:
'''Q.3
    int('3' *2) = 33
    33 / 11 = 3
    spam[int(int('3' * 2) / 11)]
    spam[3] = 8
'''

In [ ]:
'''Q.4
    spam[-1] = 10
'''

In [ ]:
'''Q.5
    spam[:2] = [2, 4]
'''

In [ ]:
'''Q.6
    bacon = [3.14,'cat', '11', 'cat',True]
    bacon.index('cat') = 1
'''

In [ ]:
'''Q.7
    bacon.append(99)
    [3.14, 'cat', '11', 'cat', True, 99]
'''

In [12]:
'''Q.8
    bacon.remove('cat')
    [3.14, '11', 'cat', True, 99]
'''

In [ ]:
'''Q.9
    concatination operator =  +
    replication operator = *
'''

In [ ]:
'''Q.10
    append =  add element at the end of the list.
    insert =  insert element in the list according to its index number.
'''

In [ ]:
'''Q.11
    Ans = del , remove()
    Example :- del bacon[0]
                bacon.remove('3.14')
'''

In [ ]:
'''Q.12
    both list and strings can be concatinated , they both used for loops .
'''

In [ ]:
'''Q.13
    Lists are mutable entity and tuples are immutable entity
    list = []
    tuple = ()
'''

In [ ]:
'''Q.14
  a = (42,)
  type(a) = tuple
'''

In [ ]:
'''Q.15
    list to tuple :-
        a = [1,2,34]
        tuple(a)
        
    tuple to list :-
        b = (2,3,4,5)
        list(b)
'''

In [ ]:
'''Q.16
    They contain references of list values.
'''

In [ ]:
'''Q.17
    copy.copy() = will create replica of a list.
    copy.deepcopy() = create duplicates of nested lists.
    Example :- 
        import copy
        ls = [12,3,4,5,66,[1,2]]
        a = copy.deepcopy(ls)
        z = copy.copy(ls)
        ls[5][1] = "ineuron"
        print(ls)
        print(a)
        print(z)
        
        output:-
            [12, 3, 4, 5, 66, [1, 'ineuron']]
            [12, 3, 4, 5, 66, [1, 2]]
            [12, 3, 4, 5, 66, [1, 'ineuron']]
'''